body {
  width: 100%;
}
.header {
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
}
.header-ttl {
  width: 100px;
}
.header-ttl img {
  width: 100%;
}
a {
  text-decoration: none;
}
.header-nav-list li a {
  color: black;
}
.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header-nav-list li {
  color: black;
}
.header-nav-item:not(:last-child) {
  margin-right: 20px;
}
/*写真*/
.future-card {
  width: 100%;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 70px;
}
.future-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.future-card-ttl {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transform: translate(50px);
}
/*コンテンツ内容*/
.service {
  width: 100%;
  margin-bottom: 70px;
}
.service-wrap {
  margin: 0 auto;
  width: 80%;
  height: 800px;
}
.service-item {
  width: 100%;
  height: 25%;
  border-top: 1px solid black;
  box-sizing: border-box;
  padding-top: 30px;
  display: flex;
}
.service-item:last-child {
  width: 100%;
  border-bottom: 1px solid black;
}
.service-item img {
  width: auto;
  height: 80%;
  display: flex;
  text-align: center;
}
.education-ttl,
.coaching-ttl,
.consal-ttl,
.DX-ttl {
  font-weight: bold;
  font-size: 20px;
}
.education-content,
.coaching-content,
.consal-content,
.DX-content {
  width: 100%;
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
/*お問い合わせ*/
.contact {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  background-color: whitesmoke;
}
.contact-ttl {
  font-size: 25px;
  font-weight: bold;
}
.contact-text {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact-btn-list {
  background-color: rgb(235, 48, 48);
  color: white;
  text-align: center;
  border: none;
  font-size: 15px;
  padding: 5px 20px;
  font-weight: bold;
}
/*フッター*/
.footer {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  box-sizing: border-box;
  padding: 0 50px 0 50px;
}
.nav {
  display: flex;
}
.footer-nav-item:not(:last-child) {
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 5px;
}